body{
    font-family: 'Martian Mono', monospace;
    background-color: #001d3d;
    color: #ffd60a;
}


.container {
    margin-top: 5rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: 0.3rem solid #ffd60a;
}

h1 {
    text-transform: uppercase;
}

.count-display {
    width: 7rem;
    height: 7rem;
    background-color: #000814;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 6px;
}

.score-display {
    font-size: 5rem;
    font-family: 'Saira Stencil One', cursive;
    font-weight: 700;
}

.score-add {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px;
    margin: 10px 10px 30px 10px;
    width: 4rem;
    height: 4rem;
    font-size: 16px;
    border: 1px solid #ffd60a;
    border-radius: 6px;
    color: #ffd60a;
    background-color: transparent;
    font-weight: 700;
}
.btn:hover {
    background-color: #ffd60a;
    color: #001d3d;
    cursor: pointer;
}

footer{
    margin: 10px;
    padding: 5px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffd60a;
}

a:hover{
    color: #fff;
}