*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-name : 'Ubuntu', sans-serif;
}

body {
    background-color: #D1D8E6;
}

main {
    padding: 0.5em 2em;
}
/*notification*/

.notification {
    font-family: var(--font-name);
    margin: 1em 0;
    padding: 1em 1.5em;
    color: #D1D8E6;
    background-color: #191F26;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9rem;
}


/*color palette*/
.color-palette {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}

.color-palette > button {
    width: 100%;
    height: 10em;  
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 1em 1em 1em 0.5;
    font-weight: 700;
    padding-top: calc(100% - 50%);
    transition: ease-in-out 0.3s;
}

button:hover, button:active{
    color: #ffffff;
}


/*generate Section*/

.form-section {
    display: grid;
    margin: 1em 0;

}

.form-section input[type="color"] {
    width: 4em;
    height: 4em;
    border: none;
    outline: none;
}

.form-section button {
    padding: 1em 2.5em;
}
